<div style=" position: absolute; left: 40%; top: 40%">
    <div class="argon-design-system">
    <button class="btn btn-icon btn-3 btn-primary" type="button" routerLink="/ui-templates/design-system" routerLinkActive="active">
        <span class="btn-inner--text">Design System</span> 
    </button>

    <button class="btn btn-icon btn-3 btn-primary" type="button" routerLink="/ui-templates/dashboard/dashboard" routerLinkActive="active">
        <span class="btn-inner--text">Dashboard</span>
    </button>
    </div>
</div>